.header, .instructions {
	text-align: center
}

.instructions {
font-size: 20px;
background-color:orange;
color:navy;
font-weight: bold
}

.gems{
	clear: both;
	text-align: center;
	padding-left: 30px

}
.gemImage{
	height: 370px;
	margin: 10px;
}

body {
	background-color:black
}

h1 {
	font-size: 40px;
	color:navy;
	font-weight: bold
}
 h3 {
	color:navy;
	font-size: 20px
}

#blue {
	color: blue
}



#green {
	color: purple
}

#red {
	color: red
}

#yellow {
	color: yellow
}

li {
	display: inline;
	text-align: center;
	font-weight: bold;
	font-size: 30px
}

h2 {
	color:red;
	font-size: 18px
}


.gems{
	background-image: url("../images/background.jpeg");
	
}


body {
	background-image: url("../images/background2.jpeg");
	
}